#content{
	width: 90%;
	position: absolute;
	top:30%;
	left: 10%;
}
#content img{
	width: 90%;
	z-index: -1;
}
#content p{
	width: 75%;
	font-size: 4.5vw;
	position:absolute;
	top:20%;
	left: 7%;
	line-height: 150%;
}