
#content{
	width:100%;
	position: absolute;
	top:8%;
	color: red;
}
#content div{
	font-weight: bold;
	line-height: 200%;
	font-size: 5.5vw;
	padding-top: 4%;
	padding-left: 10%;
	
}
#content dd,dt,dl{
	display: inline-block;
}
#content dt,dd{
	line-height: 2em;
	text-align: center;
}
#content dl{
	width:100%;
	border-bottom: 1px solid black;
	border-top:1px solid black;
}
#content dl dt{
	width: 40%;
	float: left;
	font-size: 3vw;
}
#content dl dd{
	width: 60%;
	float: right;
	font-size: 3vw;
	text-align: left;
	overflow:hidden;
}
#content dd,dt{
	
}