body{
	background: #C0D1E2;
}
#main{
	width: 800px;
	margin: 80px auto 20px auto;
	height:	560px;
	border: 1px solid #d1d6db;;
	border-radius: 8px;
	background: #FFF;
}
#main .main-content{
	width: 800px;
	/*height: 460px;*/
	margin: 20px auto;
	/*border: 1px solid;*/
}
#main .main-content .content-title{
	margin-top: 45px;
}
#main .main-content .content-title h2{
	text-align: center;
	margin-bottom: 30px;
}
#main .main-content .content-form{
	width: 62%;
	margin: 0 auto;
}
#main .main-content .content-form form .group-form{
	margin-top: 15px;
	margin-bottom: 20px;
}
#main .main-content .content-form form .group-right{
	width: 100%;
	height: 36px;
}
#main .main-content .content-form form .group-form .ps-right{
	width: 50%;
	float: right;
}
#main .main-content .content-form form label{
	color:#CCC;
}
#main .main-content .content-form form select{
	width: 84%;
	display: inline-block;
}
#main .content-form form .btn-content button{
	float: right;
}
#main .main-content:after{
	position: relative;
	z-index: -1;
	width: 792px;
	content: "";
	padding: 20px;
	display: block;
	height: 10px;
	border-radius: 10px;
	box-shadow: 4px 80px 20px rgba(2,37,69,.6);
}